.title {
  max-width: 1110px;
  margin: 0 auto;
  h1 {
    font-size: res(28, 60);
    font-weight: 600;
    margin-bottom: 20px;
  }

  p {
    font-size: res(14, 22);
    max-width: 1200px;
    font-weight: 600;
    color: #01cabd;
    letter-spacing: 2px;
    line-height: 1.7;
  }
}
